* {
    margin: 0;
    padding: 0;
}

/*CSS variables  */
:root {
    --navbar-height: 59px;

}
body{
 
}

 #logo  h1{
    font-size: 28px;
    color: rgb(0, 0, 0);
}
#navbar .topnav-right{
    display:flex;
    align-items: center;
    margin-left: 25%;

}
/* #navbar .topnav-right {
    float: right;
  } */
#navbar .topnav-right a{
    display:block; 
    color: rgb(5, 5, 5);
    font-size: 1.3rem;
    font-weight: 500;
    transition:all .50s ease;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Bree Serif', serif;
    padding: 22px 19px;
    

}
#navbar .topnav-right a:hover {
    color: white;
    background-color:black;

}
/* NAVIGATION BAR */
#navbar {
    display: flex;
    align-items: center;
    top: 0px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 0 6px 63px 0 rgb(20 20 45 / 20%);

}



#navbar::before {
    content: "";
    background-color: rgba(253, 255, 253, 0.93);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.8;
}

#navbar ul {
    display: flex;
    font-family: 'Bree Serif', serif;

}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 580;

}

#navbar ul li a {
    color: rgb(14, 14, 14);
    display: block;
    padding: 22px 17px;
    /* border-radius: 20px; */
    text-decoration: none;
    text-transform: uppercase;
    transition:all .50s ease;
}

#navbar ul li a:hover {
    color:rgb(254, 254, 255) ;
    background-color: rgb(0, 0, 0);
}

/* LOGO */
#logo {
    margin: 8px 31px;
}

#logo img {
    height: 59px;
    margin: 3px 6px;
}

/* HOME */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 615px;
    justify-content: center;
    align-items: center;

}

#home::before {
    content: "";
    position: absolute;
    background: url(food12.jpeg)no-repeat center center/cover;
    height: 100%;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.77;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;

}

#home p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;

}

.button {
    padding: 6px 20px;
    background-color: rgb(253, 253, 253);
    color: rgb(1, 1, 1);
    margin: 25px;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
    border-radius: 25px;
    cursor: pointer;
}

.button:hover {
    background-color: #2f16aec9;
    color: bisque;
}

/* Servicess Section */
#services {
    margin: 34px;
    display: flex;
}

#services .box1 {
    /* border:2px solid brown; */
    padding: 34px;
    margin: 14px 91px;
    border-radius: 45px;
    margin-bottom: 20px;
    background-color: #9de7b0;
}

#services .box1 img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box1 p {
    font-family: 'Bree Serif', serif;
}

.box1 h2 {
    font-size: 2.2rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
}


#services .box2 {
    /* border:2px solid brown; */
    padding: 9px;
    margin: 1px 177px;
    border-radius: 45px;
    margin-bottom: 20px;
    background-color: #9de7b0;
}

#services .box2 img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box2 p {
    font-family: 'Bree Serif', serif;
}

.box2 h2 {
    font-size: 2.2rem;
    padding: 39px;
    font-family: 'Bree Serif', serif;
    font-weight: 300;
}

.tool .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px 20px; */
    margin-top: 200px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
  }
  .content{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: 'Bree Serif', serif;
  }
  .content h4{
    font-weight: 600;
    color: #29721b;
    font-size: 61px;
    margin-top: 1%;
  }
  .content h3{
    font-weight: 600;
    color: #29721b;
    font-size: 61px;
    text-align: left;
  }
  .content p{
    font-weight: 400;
    color: #080808;
    font-size: 24px;
  }
  .img img{
    margin-left: 50px;
    width: 500px;
    border-radius: 1rem;
  }
  .img1 img{
    margin-right: 80px;
    width: 500px;
    border-radius: 1rem;
  }
#home p{
    padding:25px;
}
.h-primary {
    font-size: 3.8rem;
    margin-top: 273px;
    margin-bottom: -6px;
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
}
.h-primary1 {
    font-size: 61px;
    /* margin-top: 273px; */
    /* margin-bottom: -6px; */
    font-family: 'Bree Serif', serif;
    letter-spacing: 2px;
    color:#29721b;
    text-transform: uppercase;
}

.center {
    text-align: center;

}

.btn1 {
    padding: 6px 20px;
    border: 2px solid rgb(16, 120, 32);
    background-color: rgb(253, 253, 253);
    color: rgb(1, 1, 1);
    margin: 26px 140px;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    border-radius: 20px;
    cursor: pointer;
}

.btn2 {
    padding: 6px 20px;
    border: 2px solid rgb(16, 120, 32);
    background-color: rgb(253, 253, 253);
    color: rgb(1, 1, 1);
    margin: 23px 229px;
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {

    background-color: #2f16aec9;
    color: bisque;
}

.section1{
    margin-top: 4rem;
    padding-top: 2%;
    padding-bottom: 5%;
    font-family: 'Bree Serif', serif;
  }
  .heading{
    text-align: center;
  }
  .heading h4{
    font-size: 4rem;
    color: #29721b;
    padding: 1rem;
  }
  .heading p{
    font-size: 1.5rem;
    color: #172153;
    padding: 1rem;
  }
  .section1 .feature-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0px 30px;
    margin-top: 2rem;
  }
  .feature .feature-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 0px 30px;
    margin-top: 2rem;
  }
  .feature-card .card{
    padding: 30px 30px;
    text-align: center;
    border: 1px solid #686565;
    width: 230px;
    
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  .feature-card .card:hover{
    background-color: #c2d8e3;
  }
  .feature-card .card i{
    color: #29721b;
  }

  .feature-card .card h4{
    color: #29721b;
    font-weight: 600;
    font-size: 20px;
    padding: 2%;
    font-size: 1.5rem;
}
  
  .feature-card .card p{
    color: #585d68;
    font-size: 1.2rem;
  }
  
    


/* Client section */
#client-section {
    height: 344px;

}

#client-section::before {
    content: "";
    position: absolute;
    background-color: #9de7b0;
    /* background: url('food1.jpg') no-repeat center center/cover; */
    width: 100%;
    /* height: 54%; */
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 124px;
}

.client-item {
    padding: 24px;
}


.layout {
    width: 90%;
    margin: auto;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    margin-bottom: 5%;
  }
  .layout h2{
    font-size: 4rem;
    margin-bottom: 4%;
  }
  .accordion {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(57, 202, 110);
    border-radius: 10px;
    font-family: 'Bree Serif', serif;


  }
  .accordion__question p {
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
  }
  .accordion__question i{
   margin-left: 70rem;
  }
  .accordion__answer p {
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(244, 241, 241);
    background: rgb(99, 160, 109);
    border-radius: 10px;
  }
  .accordion:hover {
    cursor: pointer;
  }
  .accordion__answer {
    display: none;
  }
  .accordion.active .accordion__answer {
    display: block;
  }
  footer{
    margin: 5px;
}
.foot-panel1{
    color: #29721b;
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Bree Serif', serif;
    font-weight: 600;
}

.foot-panel2{
    background-color: rgb(99, 160, 109);
    color: white;
    height: 280px;
    display: flex;
    justify-content: space-evenly;
}
ul {
margin-top: 20px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
ul p{
    font-size: 0.9rem;
    font-weight: 700;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border: 0.5px solid orange;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo3{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 74px;
    width: 150px;
    padding-bottom: 2px;
}

.foot-panel4{
    background-color: #0f1111e7;
    color: white;
    height: 65px;
}
.pages{
    font-size: 0.75rem;
    text-align: center;
    padding-top: 15px;
}
.copyright{
    font-size: 0.7rem;
    text-align: center;
    margin-top: 5px;
}